<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .div{
            height: 180px;
            width: 380px;
            border: 1px solid #8A8989;
            margin: 0px auto;
        }
        .input{
            display: block;
            width: 350px;
            height: 40px;
            margin: 10px auto;
        }
        .button{
            background: aliceblue;
            color: white;
            font-size: 18px;
            font-weight: bold;
            height: 50px;
            border-radius: 4px;
        }
    </style>
</head>
<body>
<div class="div">
    <form action="login" method="post">
        <input type="text" class="input" name="username" placeholder="input username">
        <input type="password" class="input" name="pwd" placeholder="input password">
        <input type="submit" value="login" class="button">
    </form>
</div>
</body>
</html>